include ../config/config

doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="css/styles.css")

        script(src="https://kit.fontawesome.com/1d88763075.js" crossorigin="anonymous")

        title nueva web
    body
        header#header.header
            a(href="/").logo
                img(src="./assets/img/logo.png" alt="web logo")
            .topbar
                .topbar__icon
                    i.fa.fa-user
                    span log in
                .topbar__icon
                    i.fa.fa-user-plus
                    span register
                .toggle-menu
                    #toggle-menu.toggle-menu__icon
                        .first-bar
                        .second-bar
                        .third-bar

        #sidebar.sidebar
            block menu

        main.main
        script(src="js/scripts-min.js")


