.sidebar{
    position: fixed;
    background: $dark-color;
    width: 100%;
    height: 100vh;
    top: 50px;
    transform: translateY(-100%);
    transition: transform .4s;
    z-index: 1;

    @include laptop{
        width: 10%;
        top: 0;
        grid-column: 1 / 2;
        grid-row: 1 / -1;
        transform: translateY(0)
    }

    &.show{
        transform: translateY(0)
    }
}