extends ../templates/template
block menu
    - pagesActive = "about"
    include ../includes/main-menu
block title
    h1.title About
    .about
        .about__img.show
            img(src="assets/img/about.jpg" alt="about image 1")
        .about__text.show
            h2 title 1
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae nobis nihil enim iste magni! Possimus, praesentium! Magnam, minus. Aperiam quidem porro inventore reiciendis sapiente maiores quod modi maxime explicabo delectus.
        .about__img
            img(src="assets/img/about2.jpg" alt="about image 2")
        .about__text
            h2 title 2
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae nobis nihil enim iste magni! Possimus, praesentium! Magnam, minus. Aperiam quidem porro inventore reiciendis sapiente maiores quod modi maxime explicabo delectus.
        .about__img
            img(src="assets/img/about3.jpg" alt="about image 3")
        .about__text
            h2 title 3
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae nobis nihil enim iste magni! Possimus, praesentium! Magnam, minus. Aperiam quidem porro inventore reiciendis sapiente maiores quod modi maxime explicabo delectus.

    .controls
        i.fas.fa-chevron-circle-left#prev
        i.fas.fa-chevron-circle-right#next
