extends ../templates/template
block menu
    include ../includes/main-menu
block title
    h1.title Contact

block main
    .contact
        .contact__form
            form.form-contact
                .form-contact__field
                    input(type="text" name="mane" placeholder="name").form-contact__input
                    input(type="text" name="email" placeholder="email").form-contact__input
                    input(type="text" name="subjet" placeholder="subjet").form-contact__input
                .form-contact__field
                    textarea(name="message" placeholder="message").form-contact__textarea
            .form-contact__field
                input(type="submit" value="Send").form__submit

        .contact__map
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3083.6053983712964!2d-74.2228895007442!3d-13.156136163324978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91127d88f5b2bee9%3A0xe9b3cb843a70a16e!2sAyacucho!5e0!3m2!1ses!2spe!4v1613850911441!5m2!1ses!2spe' style='border:0;' allowfullscreen='' loading='lazy')


        .social
            .social__icon
                i.fab.fa-twitter-square
                i.fab.fa-twitter-square
            .social__icon
                i.fab.fa-instagram
                i.fab.fa-instagram
            .social__icon
                i.fab.fa-youtube-square
                i.fab.fa-youtube-square
            .social__icon
                i.fab.fa-pinterest-square
                i.fab.fa-pinterest-square


