.about{

    @include laptop{
        position: relative;
        height: 60vh;
        display: grid;
        grid-template-columns: 60% 40%;
        align-items: center;
        justify-content: center;

        &__img,
        &__text{
            position: absolute;
            opacity: 0;
            transition: opacity 1s;
            width: 50%;
            top: 0;
        }

        &__img{
            left: 0;
        }

        &__text{
            left: 50%;
            font-size: 1.6rem;
            padding: 0 2rem;

            & h2{
                margin: 0;
            }

        }

    }
}

.show{
    opacity: 1;
}

.controls{
    width: 50%;
    margin: 0 auto;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    color: $text-color;
}